NODE_ENV
PORT
MONGO_URI
TEST_DB_URI
CLIENT_URL
BACKEND_URL
JWT_ACCESS_SECRET
JWT_REFRESH_SECRET
EMAIL_PASS
EMAIL_USER
GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET
CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET
PAYPAL_CLIENT_ID
PAYPAL_SECRET
RAZORPAY_KEY_ID
RAZORPAY_SECRET
REDIS_HOST
REDIS_PORT
REDIS_PASSWORD
REDIS_USERNAME
OPENCAGE_API_KEY